unversioned*
part*
*.crc
_*
*.tsv
*.gz
*.npy
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui 
tmp
docker/home/*
.DS_Store
tensorboard
main.pdf
*.pyc
*.p
*.pickle
*.fdb_latexmk
*.fls
.ipynb_checkpoints/*
.ipynb_checkpoints/
Untitled*.ipynb
*.big.csv
data/*
output/*
scripts/mlruns/*
*.pdf
*.html
models/*
config/.env
config/.ipynb_checkpoints
config/env
*/lib/*
webpages/*
tmp/*
results/*
lib/*